__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
**/__pycache__/
venv/
.venv/
env/
ENV/
build/
dist/
*.egg-info/
.eggs/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
outputs/
*.glb
*.stl
